<html>
<head>
	<title></title>
	<script
	src="https://code.jquery.com/jquery-3.1.1.min.js"
	integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina|Cabin|Josefin+Sans|Lobster|Raleway|Titillium+Web" rel="stylesheet">
	<link rel="stylesheet" href="/styles/style.css">
</head>
<body>
	<div class="header">
		<img class="logo" src="/images/coffeeMug.png" alt="">
		<ul>
			<a href="/user/profile"><li>Profile</li></a>
			<a href="/coffee/library/"><li>Library</li></a>
			<a href="/coffee/path/"><li>Recommendation</li></a>
			<a class="logout"href="/user/logout"><li>Log Out</li></a>
		</ul>
	</div>
	{{{ body }}}
	<script src="/js/app.js"></script>
</body>
</html>
