<div class="header">
	<img class="logo" src="/images/coffeeMug.png" alt="">
	<ul>
		<a href="/user/profile"><li>Profile</li></a>
		<a href="/coffee/library/"><li>Library</li></a>
		<a href="/coffee/path/"><li>Recommendation</li></a>
		<a class="logout"href="/user/logout"><li>Log Out</li></a>
	</ul>
</div>

<h1>Drink Library</h1>

<div class="libDiv">
	<div>
		<ul class="rig">
			<li>
				<img class="libraryImage" src="/images/ChaiLatte.jpg" />
				<h3>Chai Latte</h3>
				<p>Contains 190 calories in a 12-oz. drink</p>
			</li>
			<li>
				<img class="libraryImage" src="/images/chamomile.jpg" />
				<h3>Chamomile Tea</h3>
				<p>Contains 3 calories in a 16-oz. drink</p>
			</li>
			<li>
				<img class="libraryImage" src="/images/ChocolateMilk.jpg" />
				<h3>Chocolate Milk</h3>
				<p>Contains 255 calories in a 12-oz. drink</p>
			</li>
			<li>
				<img class="libraryImage" src="/images/Coffee.jpg" />
				<h3>Coffee</h3>
				<p>Contains 4 calories in a 12-oz. drink</p>
			</li>
			<li>
				<img class="libraryImage" src="/images/ColdBrew.jpg" />
				<h3>Cold Brew</h3>
				<p>Contains 4 calories in a 16-oz. drink</p>
			</li>
			<li>
				<img class="libraryImage" src="/images/HotChocolate.jpg" />
				<h3>Hot Chocolate</h3>
				<p>Contains 255 calories in a 12-oz. drink</p>
			</li>
			<li>
				<img class="libraryImage" src="/images/IcedChai.jpg" />
				<h3>Iced Chai</h3>
				<p>Contains 190 calories in a 16-oz. drink</p>
			</li>
			<li>
				<img class="libraryImage" src="/images/IcedLatte.jpg" />
				<h3>Iced Latte</h3>
				<p>Contains 150 calories in a 16-oz. drink</p>
			</li>
			<li>
				<img class="libraryImage" src="/images/IcedMocha.jpg" />
				<h3>Iced Mocha</h3>
				<p>Contains 255 calories in a 16-oz. drink</p>
			</li>
			<li>
				<img class="libraryImage" src="/images/IcedTea.jpg" />
				<h3>Iced Blueberry Tea</h3>
				<p>Contains 3 calories in a 16-oz. drink</p>
			</li>
			<li>
				<img class="libraryImage" src="/images/Latte.jpg" />
				<h3>Latte</h3>
				<p>Contains 150 calories in a 12-oz. drink</p>
			</li>
			<li>
				<img class="libraryImage" src="/images/mocha.jpg" />
				<h3>Mocha</h3>
				<p>Contains 255 calories in a 12-oz. drink</p>
			</li>
			<li>
				<img class="libraryImage" src="/images/Steamer.jpg" />
				<h3>Steamer</h3>
				<p>Contains 200 calories in a 12-oz. drink</p>
			</li>
		</ul>
	</div>
</div>
