<h1>This is the library page</h1>

<ul class="rig">
	<li>
		<img class="libraryImage" src="/images/Latte.jpg" />
		<h3>Latte</h3>
		<p>Lorem ipsum dolor sit amet</p>
	</li>
	<li>
		<img class="libraryImage" src="/images/mocha.jpg" />
		<h3>Mocha</h3>
		<p>Lorem ipsum dolor sit amet</p>
	</li>
	<li>
		<img class="libraryImage" src="/images/chamomile.jpg" />
		<h3>Chamomile Tea</h3>
		<p>Lorem ipsum dolor sit amet</p>
	</li>
	<li>
		<img class="libraryImage" src="/images/IcedLatte.jpg" />
		<h3>Iced Latte</h3>
		<p>Lorem ipsum dolor sit amet</p>
	</li>
	<li>
		<img class="libraryImage" src="/images/IcedTea.jpg" />
		<h3>Iced Tea</h3>
		<p>Lorem ipsum dolor sit amet</p>
	</li>
	<li>
		<img class="libraryImage" src="/images/ColdBrew.jpg" />
		<h3>Cold Brew</h3>
		<p>Lorem ipsum dolor sit amet</p>
	</li>
	<li>
		<img class="libraryImage" src="/images/ChaiLatte.jpg" />
		<h3>Chai Latte</h3>
		<p>Lorem ipsum dolor sit amet</p>
	</li>
</ul>
