
<div class="form-container">
	<form class="form-regLog" action="/user/login" method="post">
		<h1 id="log-title">User Login</h1>
		<div class="input regLog">
			<input type="text" name="username" value="" placeholder="username">
		</div>
		<div class="input regLog">
			<input type="password" name="password" value="" placeholder="password">
		</div>
		<div class="regLog">
			<input class="form-button" type="submit" name="" value="Log in!">
		</div>
	</form>
</div>
<div class="error">
	<p style="color: white;">{{message}}</p>
</div>
