<div class="header">
  <ul>
    <li>Profile</li>
    <li>Feed</li>
    <li>Coffee Near Me</li>
    <li>Drink Of The Day</li>
  </ul>
</div>

<div class="form-container">
  <form class="form-login" action="/user/login" method="post">
    <h1 id="log-title">Log in Page</h1>
    <br>
    <input type="text" name="username" value="" placeholder="username">
    <br>
    <input type="password" name="password" value="" placeholder="password">
    <br>
    <input class="form-button" type="submit" name="" value="Log in!">
  </form>
  {{message}}
</div>
