<div class="header">
  <ul>
    <a href="/user/profile"><li>Profile</li></a>
    <a href="#"><li>Feed</li></a>
    <a href="#"><li>Coffee Near Me</li></a>
    <a href="#"><li>Drink Of The Day</li></a>
  </ul>
</div>

<div class="form-container">
  <form class="form-login" action="/user/login" method="post">
    <h1 id="log-title">Log in Page</h1>
    <br>
    <input type="text" name="username" value="" placeholder="username">
    <br>
    <input type="password" name="password" value="" placeholder="password">
    <br>
    <input class="form-button" type="submit" name="" value="Log in!">
  </form>
</div>
<div class="error">
 <p>{{message}}</p>
</div>
