<h1 id="log-title">Log in Page</h1>

<div class="form-container">
  <form class="form-login" action="/user/login" method="post">
    <input type="text" name="username" value="" placeholder="username">
    <br>
    <input type="password" name="password" value="" placeholder="password">
    <br>
    <input class="form-button" type="submit" name="" value="Log in!">
  </form>
  {{message}}
</div>
