<div class="header">
  <ul>
    <a href="#"><li>Profile</li></a>
    <a href="#"><li>Feed</li></a>
    <a href="#"><li>Coffee Near Me</li></a>
    <a href="#"><li>Drink Of The Day</li></a>
  </ul>
</div>
<h1>Hello {{ this.username }}</h1>

<h1>Profile Home</h1>



<a href="/user/logout">LOG OUT</a>
