<<<<<<< HEAD
<h1>Profile Home</h1>
=======
<div class="header">
  <ul>
    <a href="/user/profile"><li>Profile</li></a>
    <a href="#"><li>Feed</li></a>
    <a href="#"><li>Coffee Near Me</li></a>
    <a href="#"><li>Drink Of The Day</li></a>
    <a class="logout"href="/user/login"><li>Log Out</li></a>
  </ul>
</div>
<div class="main">
  <h1 class="hey">Hey {{name}}, </h1>

</div>
>>>>>>> 61f6807667c539395c0025de10d5ff0076619aa0
