<div class="header">
	<img class="logo" src="/images/coffeeMug.png" alt="">
	<ul>
		<a href="/user/profile"><li>Profile</li></a>
		<a href="/coffee/library/"><li>Library</li></a>
		<a href="/coffee/path/"><li>Recommendation</li></a>
		<a class="logout"href="/user/logout"><li>Log Out</li></a>
	</ul>
</div>

<div class="mainquestion">
	<div class="h1Holder">
		<h1 class="do-you-want">Do you want something...</h1>
    </div>
	   <div class="buttonDiv">
		     <button class="left-option buttons">sweet?</button>
		     <button class="right-option buttons">unsweetened?</button>
    </div>
</div>
