<div class="main">
	<div class="h1Holder">
		<h1 class="do-you-want">Do you want something...</h1>
	</div>
	<div class="buttonDiv">
		<button class="left-option buttons">sweet?</button>
		<button class="right-option buttons">unsweetened?</button>
	</div>
</div>
