
<div class="form-container">
  <form class="form-registerorlogin" action="/user/register" method="post">
    <h1 class="regorlog-title">Create an account.</h1>
    <br>
    <input type="text" name="username" value="" placeholder="username">
    <br>
    <input type="password" name="password" value="" placeholder="password">
    <br>
    <input id="reg-button" type="submit" name="" value="Register!">
  </form>
</div>
<div class="error">
	<p>{{message}}</p>
</div>
