
<div class="form-container">
  <form class="form-regLog" action="/user/register" method="post">
    <h1 id="reg-title">Register</h1>
	<div class="input regLog">
	    <input type="text" name="username" value="" placeholder="username">
	</div>
	<div class="input regLog">
	    <input type="password" name="password" value="" placeholder="password">
	</div>
	<div class="regLog">
	    <input class="form-button" type="submit" name=" " value="Register!">
	</div>
  </form>
</div>
<div class="error">
<p>{{message}}</p>
</div>
