body{
  background: lightgreen;
}
#reg-title{
  text-align: center;
  margin: 10px;
  font-family: 'Cabin', sans-serif;
}
#log-title{
  text-align: center;
  margin: 10px;
  font-family: 'Cabin', sans-serif;
}
.form-container{
  display: flex;
  justify-content: center;
  background: deepskyblue;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 200px;
}
.form-register{
  margin: 10px;
  justify-content: center;

    input{
      padding: 2px 80px 2px 2px;
      margin: 10px;
        .form-button{
          justify-content: flex-end;
        }
    }
}

.form-login{
  margin: 10px;

  input{
    padding: 2px 80px 2px 2px;
    margin: 10px;
  }
}

// font-family: 'Raleway', sans-serif;
// font-family: 'Titillium Web', sans-serif;
// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Cabin', sans-serif;
// font-family: 'Lobster', cursive;
// font-family: 'Baloo Bhaina', cursive;
