html {
  background-size: 100%;
  margin: 0px;
}
body {
  margin: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: 'Cabin', sans-serif;
  height: 450px;
  background-image: url('/images/homepic.jpg');
  background-size: 100%;
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.header {
  background: #36dbac;
  height: 70px;
  width: 99%;
  top: 0px;
  position: fixed;
  right: 0.5%;
  border-radius: 2px;
  margin: 0;
  padding: 0;
}
.header ul {
  text-align: right;
  display: inline;
  float: right;
  margin: 20px 0px 10px 10px;
}
.header ul li {
  padding: 5px 10px 5px 5px;
  text-decoration: none;
  display: inline-block;
  margin: 0px 10px 5px 5px;
  font-family: 'Cabin', sans-serif;
  font-size: 24px;
  color: black;
  align-content: flex-end;
}
.header ul li:hover {
  color: white;
}
#reg-title {
  text-align: center;
  margin: 10px 10px 5px 10px;
  font-family: 'Cabin', sans-serif;
  font-size: 40px;
}
#log-title {
  text-align: center;
  margin: 10px 10px 5px 10px;
  font-family: 'Cabin', sans-serif;
  font-size: 40px;
}
.form-container {
  display: flex;
  justify-content: center;
  background: rgba(54, 219, 172, 0.6);
  margin-left: 450px;
  margin-right: 450px;
  margin-top: 200px;
  border-radius: 20px;
  border: 1px solid black;
}
.form-register {
  margin: 10px;
  justify-content: center;
}
.form-register input {
  padding: 2px 80px 2px 2px;
  margin: 10px;
}
.form-button {
  justify-content: flex-end;
  border: none;
  border-radius: 2px;
  font-family: 'Raleway', sans-serif;
  box-shadow: 1px 1px 1px rgba(35, 30, 30, 0.8);
  background-color: #bce0d6;
  color: #16153b;
}
.form-login {
  margin: 10px;
}
.form-login input {
  padding: 2px 80px 2px 2px;
  margin: 10px;
}
.main {
  margin: 10px;
  display: inline;
}
.error {
  display: flex;
  justify-content: center;
}
.error p {
  text-align: center;
  font-family: 'Cabin', sans-serif;
}
.main {
  background-color: rgba(54, 219, 172, 0.75);
  display: block;
  width: 100%;
  height: 400px;
  float: right;
  margin: 0px;
  margin-top: 95px;
}
.buttons {
  padding: 30px 10px;
  width: 250px;
  border: none;
  border-radius: 4px;
  font-size: 27px;
  font-family: 'Raleway', sans-serif;
  box-shadow: 2px 1px 5px rgba(35, 30, 30, 0.8);
  background-color: #bce0d6;
  color: #16153b;
}
.buttons:hover {
  transform: scale(1.025);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.26), 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  transition: all .2s;
}
.username {
  font-size: 45px;
  text-align: left;
  margin: 10px;
  color: white;
}
.buttonDiv {
  padding: 5px;
  position: fixed;
  bottom: 180px;
  display: inline;
  width: 100%;
}
.left-option {
  margin-left: 300px;
}
.right-option {
  float: right;
  margin-right: 300px;
}
.h1Holder {
  height: 100px;
}
.do-you-want {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 55px;
  color: white;
  text-shadow: 0px 1px 0px #443f3f;
  align-items: center;
  margin-left: 39%;
  margin-top: 150px;
  width: 100%;
  letter-spacing: 1.5px;
}
.mainquestion {
  position: fixed;
  display: flex;
}
img.logo {
  width: 5em;
  margin: -3px 0px 0px 10px;
  display: inline;
}
.recommendDrink {
  padding: 30px 10px;
  width: 300px;
  border: none;
  border-radius: 4px;
  font-size: 27px;
  font-family: 'Raleway', sans-serif;
  box-shadow: 2px 1px 5px rgba(35, 30, 30, 0.8);
  background-color: deepskyblue;
  color: white;
  margin: 100px 0px 40px 0px;
}
.recommendDrink:hover {
  transform: scale(1.025);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.26), 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  transition: all .2s;
}
.drinkLibrary {
  padding: 30px 10px;
  width: 300px;
  border: none;
  border-radius: 4px;
  font-size: 27px;
  font-family: 'Raleway', sans-serif;
  box-shadow: 2px 1px 5px rgba(35, 30, 30, 0.8);
  background-color: deepskyblue;
  color: white;
  margin: 100px 0px 40px 0px;
}
.drinkLibrary:hover {
  transform: scale(1.025);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.26), 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  transition: all .2s;
}
.lists {
  margin: 0px 10px 5px 10px;
  padding: 5px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.26), 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  color: white;
  background: rgba(54, 219, 172, 0.5);
  text-shadow: 0px 1px 0px #443f3f;
  border-radius: 3px;
}
.attrH {
  margin-top: 6px;
  color: white;
  text-shadow: 0px 1px 0px #443f3f;
  margin-bottom: 10px;
  margin-left: 19px;
  letter-spacing: 1.5px;
  font-family: 'Raleway', sans-serif;
}
.buttonsP {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  width: 25%;
  float: right;
  margin: 10px;
  height: 500px;
}
.drinks-container {
  width: 45%;
  margin: 0px 10px 10px 10px;
  float: left;
  height: 530px;
  margin: 10px;
}
.userInfo {
  display: inline;
  background: rgba(54, 219, 172, 0.5);
  width: 25%;
  text-align: center;
  float: left;
  height: 450px;
  margin: 85px 10px 10px 10px;
  border-radius: 3px;
}
.favDrinksScroll {
  overflow-y: auto;
  max-height: 71vh;
  margin: 0px;
  padding: 0px;
  margin-top: 5px;
}
.favDrinkTitle {
  font-size: 35px;
  margin: 15px;
  color: white;
  text-shadow: 0px 1px 0px #443f3f;
  text-align: center;
}
.bodyP {
  margin-top: 75px;
}
ul.rig {
  list-style: none;
  font-size: 0px;
  padding: 20px;
}
ul.rig li {
  display: inline-block;
  padding: 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-size: 0.7rem;
  text-align: center;
  color: white;
}
ul.rig li h3 {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: lighter;
}
.libraryImage {
  height: 200px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.26), 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 1px 5px rgba(35, 30, 30, 0.8);
}
.list-container {
  display: inline-block;
}
.thumbnail {
  margin: 0px 0px 10px 20px;
  height: 150px;
  border-radius: 4px;
  margin-left: 20px;
  margin-top: 0px;
}
.internalList {
  list-style: none;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
}
.drinkSpecs {
  background: rgba(54, 219, 172, 0.4);
  height: 475px;
  width: 42%;
  margin-top: 100px;
  margin-left: 27%;
  border-radius: 2px;
}
.drinkHeader {
  text-align: center;
  color: white;
  font-weight: lighter;
  margin: auto;
  margin-top: 100px;
}
div.drinkHeader h1 {
  margin-top: 20px;
}
.drinkName {
  font-size: 45px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: -10px;
  color: white;
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;
}
.drinkDescriptions {
  margin: auto;
  margin-top: 10px;
  padding: 5px;
  display: block;
  position: fixed;
  width: 38%;
}
.drinkList {
  list-style: none;
  color: white;
  line-height: 1.8em;
  text-align: center;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  margin-top: 8px;
  letter-spacing: 0.75px;
  font-weight: bold;
}
.drinkBody {
  display: block;
  margin: auto;
}
.image {
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(35, 30, 30, 0.4);
  height: 200px;
  text-align: center;
  margin: auto;
  display: block;
  margin-top: -20px;
}
.internalList {
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
}
.recc {
  margin: 10px;
}
#pro-list {
  max-width: 279px;
  line-height: 32px;
  clear: both;
  float: left;
}
#listID {
  margin-bottom: 10px;
}
#ourRec {
  text-align: center;
  color: white;
  padding-top: 15px;
  font-family: 'Raleway', sans-serif;
}
