body {
  background: lightgreen;
}
#reg-title {
  text-align: center;
  margin: 10px;
  font-family: 'Cabin', sans-serif;
}
#log-title {
  text-align: center;
  margin: 10px;
  font-family: 'Cabin', sans-serif;
}
.form-container {
  display: flex;
  justify-content: center;
  background: deepskyblue;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 200px;
}
.form-register {
  margin: 10px;
  justify-content: center;
}
.form-register input {
  padding: 2px 80px 2px 2px;
  margin: 10px;
}
.form-register input .form-button {
  justify-content: flex-end;
}
.form-login {
  margin: 10px;
}
.form-login input {
  padding: 2px 80px 2px 2px;
  margin: 10px;
}
