
#reg-title{
  text-align: center;
  margin-top: 200px;
}
#log-title{
  text-align: center;
  margin-top: 200px;
}
.form-container{
  display: flex;
  justify-content: center;
  background: deepskyblue;
}
.form-register{
  margin: 10px;

    input{
      padding: 2px 80px 2px 2px;
      margin: 10px;
        .form-button{
          justify-content: space-between;
        }
    }
}

.form-login{
  margin: 10px;

  input{
    padding: 2px 80px 2px 2px;
    margin: 10px;
  }
}
